ORCHESTRATOR_CALLBACK_URL=http://payment-orchestrator-service:8001/provider-callbacks/mock-bank

APPROVED_AFTER_5_PROBABILITY=0.50
DECLINED_AFTER_20_PROBABILITY=0.20
DUPLICATE_CALLBACK_PROBABILITY=0.10
CALLBACK_BEFORE_RESPONSE_PROBABILITY=0.10
NO_CALLBACK_PROBABILITY=0.10

APPROVED_DELAY_SECONDS=5
DECLINED_DELAY_SECONDS=20
DUPLICATE_DELAY_SECONDS=1
