ORCHESTRATOR_CALLBACK_URL=http://payment-orchestrator-service:8001/provider-callbacks/mock-bank

APPROVED_AFTER_5_PROBABILITY=0.20
DECLINED_AFTER_20_PROBABILITY=0.15
ERROR_AFTER_5_PROBABILITY=0.25
DUPLICATE_CALLBACK_PROBABILITY=0.05
CALLBACK_BEFORE_RESPONSE_PROBABILITY=0.05
NO_CALLBACK_PROBABILITY=0.30

APPROVED_DELAY_SECONDS=5
DECLINED_DELAY_SECONDS=20
ERROR_DELAY_SECONDS=5
DUPLICATE_DELAY_SECONDS=1
